* {
  outline: 0;
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #bae8ff;
  /* background-color: #ed9121; */
}

canvas {
  height: 100%;
  width: 100%;
}